.child-1 {
  vertical-align: top;
}
.child-2 {
  vertical-align: text-top;
}
.child-3 {
  vertical-align: middle;
}
.child-4 {
  vertical-align: baseline;
}
.child-5 {
  vertical-align: text-bottom;
}
.child-6 {
  vertical-align: bottom;
}
.child-7 {
  vertical-align: sub;
}
.child-8 {
  vertical-align: super;
}

.parent {
  font-size: 36px;
  border-top: 1px solid rgb(56, 189, 248);
  border-bottom: 1px solid rgb(56, 189, 248);
  position: relative;
  padding: 0 4px;
}
.child {
  font-size: 12px;
  margin: 0 4px;
  line-height: 1;
  background: rgb(255 255 255 / 0.3);
  padding: 0 2px;
}
.support-line {
  position: absolute;
  inset: 0;
  margin: 12px 0;
  pointer-events: none;
  border-top: 1px solid rgba(56, 189, 248, 30%);
  border-bottom: 1px solid rgba(56, 189, 248, 30%);
}
.support-line-2 {
  position: absolute;
  inset: 0;
  margin: 18px 0;
  pointer-events: none;
  border-bottom: 1px solid rgba(56, 189, 248, 30%);
}
