.text-40 {
  font-size: 40px;
}
.text-24 {
  font-size: 24px;
}
.text-16 {
  font-size: 16px;
}
.text-14 {
  font-size: 14px;
}
.text-12 {
  font-size: 12px;
}
.text-10 {
  font-size: 10px;
}
.text-body {
  font-size: 16px;
}
.text-small {
  font-size: 0.8em;
}
